<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
  <h1>Data Mining Apriori Algorithm at Google App Engine</h1>
  <form action = "/display" onsubmit="Validate(this);" method = "POST" enctype = "multipart/form-data">
    <p>
    input file: <input type="file" name="file"><br>
    minimal support: <input type="text" name="support" value="20"><br>
    <input type="submit" value="Upload and Run Apriori Algorithm">
    </p>
  </form>
</body>
</html>